.reqMetadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: .4rem;
    background-color: var(--ifm-color-primary-contrast-background);
    padding: .4em .8em;
}
