.reqMetadata {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    border-radius: var(--ifm-breadcrumb-border-radius);
    background-color: var(--ifm-color-primary-contrast-background);
    padding: .4em .8em;
}
