.reqStatus {
    border-radius: .2rem;
    padding: .2rem .4rem;
    font-size: small;
    font-weight: bold;
    background-color: var(--ifm-color-emphasis-400);
    color: var(--ifm-color-emphasis-600);
}

.reqStatusDraft {
    background-color: var(--ifm-color-danger-darkest);
    color: var(--ifm-color-danger-lightest);
}

.reqStatusReady {
    background-color: var(--ifm-color-warning-darkest);
    color: var(--ifm-color-warning-lightest);
}

.reqStatusDone {
    background-color: var(--ifm-color-success-darkest);
    color: var(--ifm-color-success-lightest);
}

.reqStatusReleased {
    background-color: var(--ifm-color-info-darkest);
    color: var(--ifm-color-info-lightest);
}
