.priorityLabel {
    border-radius: .2rem;
    padding: .2rem .4rem;
    font-size: small;
    font-weight: bold;
    background-color: var(--ifm-color-emphasis-400);
    border-left: 3px solid var(--ifm-color-emphasis-600);
    color: var(--ifm-color-emphasis-600);
}

.priorityLabelMustHave {
    background-color: var(--ifm-color-info-lightest);
    border-left: 3px solid var(--ifm-color-info-darkest);
    color: var(--ifm-color-info-darkest);
}

.priorityLabelShouldHave {
    background-color: var(--ifm-color-success-lightest);
    border-left: 3px solid var(--ifm-color-success-darkest);
    color: var(--ifm-color-success-darkest);
}

.priorityLabelCouldHave {
    background-color: var(--ifm-color-warning-lightest);
    border-left: 3px solid var(--ifm-color-warning-darkest);
    color: var(--ifm-color-warning-darkest);
}

.priorityLabelWontHave {
    background-color: var(--ifm-color-danger-lightest);
    border-left: 3px solid var(--ifm-color-danger-darkest);
    color: var(--ifm-color-danger-darkest);
}
